--
-- PostgreSQL database dump
--

\restrict PzCQs9D8wYDSerXPRRRZd0yzdTrYkj8FdyFXLRNQBDoyfq1swmS9S5WeZ1crzXp

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_tokens; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.api_tokens (
    token_hash character varying(255) NOT NULL,
    user_id character varying(36) NOT NULL,
    name character varying(100) NOT NULL,
    scopes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone,
    revoked boolean NOT NULL
);


ALTER TABLE public.api_tokens OWNER TO app;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.jobs (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    type character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    input_path text NOT NULL,
    result_path text,
    error text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    metadata_json text
);


ALTER TABLE public.jobs OWNER TO app;

--
-- Data for Name: api_tokens; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Name: api_tokens api_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.api_tokens
    ADD CONSTRAINT api_tokens_pkey PRIMARY KEY (token_hash);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: ix_api_tokens_user_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_api_tokens_user_id ON public.api_tokens USING btree (user_id);


--
-- Name: ix_jobs_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_jobs_status ON public.jobs USING btree (status);


--
-- Name: ix_jobs_user_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_jobs_user_id ON public.jobs USING btree (user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict PzCQs9D8wYDSerXPRRRZd0yzdTrYkj8FdyFXLRNQBDoyfq1swmS9S5WeZ1crzXp

